.search{
    position: relative;
    top:0px;
    left:0px;
    z-index: 100;
    @include createFlex(row,flex-start,center,wrap);
    background-color: white;
    &__header{
        position: relative;
        top:30px;
        left:30px;
        width: 200px;
        z-index: 100;
        padding-right: 70px;
        margin:0px 0px 30px;
        @include createFlex(row,center,center,null);
        @include breakpoint-down(medium){
            padding-right: 20px;
        }
        button{
            position: relative;
            top:-8px;
            left:-3px;
            padding:5px;
            border-radius: 100%;
            outline:none;
            border:none;
            background:transparent;
            @include createFlex(row,center,center,null);
            &:active{
                background-color: #f1f1f1;
            }
        }
        &-logo{
            position: relative;
            top:-6px;
            left:0px;
            margin-left: 20px;
            img{
                width: 80%;
            }
        }
        svg{
            margin-right: auto;
            min-width: 30px;
            min-height:30px;
        }
    }
    &__main{
    
        padding:10px;
        width: 78%;
        @include createFlex(row,flex-start,center,null);
        @include breakpoint-down(medium){
            width: 75%;
            position: relative;
            left:100px;
            top:0px;
        }
        @include breakpoint-down(medium-sm){
            width: 65%;
            position:static;
        }
        @include breakpoint-down(small){
            width: 30%;
        }
    }
    &__form{
        margin-left: 100px;
        @include breakpoint-down(medium){
            margin-left: 0px;
            width: 100%;
        }
       
    }
    &__field{
        padding:0px 0px 0px 20px;
        border:1px solid lightgray;
        @include createFlex(row,flex-start,center,null);
        @include breakpoint-down(medium){
            max-width: 70%;
        }
        @include breakpoint-down(small){
            border:0px;
        }
      
        input{
            font-size: pxToRem(16);
            width: 500px;
            height:40px;
            border:0px;
            &:active,&:focus{
                border:0px;
                outline:none;
            }
            @include breakpoint-down(medium){
                width: 300px;
            }
            @include breakpoint-down(small){
                width: 150px;
                height:100%;
                border:0px;
                border-bottom: 1px solid lightgray;
                transform:translateX(-30px);
                &:focus{
                    border-bottom: 1px solid red;
                }
            }
        }
    }
    &__magnifer-wrapper{
        cursor: pointer;
        padding:0px 20px;
        border-left:1px solid lightgray;
        height:40px;
        @include createFlex(row,center,center,null);
        @include breakpoint-down(medium){
            min-height: 40px;
            min-width: 40px;
         
        }
        @include breakpoint-down(small){
            border:0px;
            min-height: 20px;
            min-width: 20px;
            transform:translateX(-40px);

        }
    }
    &__microphone{
        margin-left:20px;
        min-width: 20px;
        min-height:20px;
        @include breakpoint-down(medium){
            position: relative;
            z-index: 3;
            left:-100px;
            top:0px;
            margin-left: 10px;
            svg{
              
                min-width: 20px;
                min-height: 20px;
            }
        }
        @include breakpoint-down(small){
            display: none;
        }
    
    }
    &__menu{
        position: relative;
        top:0px;
        left:0px;
        margin-left: auto;
        margin-right:10px;
        @include createFlex(row,flex-start,center,null);
        @include breakpoint-down(medium){
            margin-left:0px;
            left:-100px;
        }
        @include breakpoint-down(small){
            display: none;
        }
        svg{
            margin:0px 20px;
            width: 20px;
            height:20px;
            @include breakpoint-down(medium){
                margin:0px 10px;
            }
        }
        button{
            svg{
                margin-left: -10px;
            }
        }
        button{
            @include signIn-btn();
            @include breakpoint-down(medium){
                width: 110px;
                font-size: pxToRem(12);
                svg{
                    width: 20px;
                    height:20px;
                }
            }
        }
    }
    &__tags-wrapper{
        position: relative;
        top:0px;
        left:0px;
        overflow-x: hidden;
        padding:20px 0px;
        margin-left: auto;
        margin-right: 10px;
        width: 79.5%;
        border-bottom:1px solid lightgray;
        border-top:1px solid lightgray;
        @include breakpoint-down(medium){
            max-width: 88%;
            width: 88%;
        }
        @include breakpoint-down(small){
            min-width:110%;
            width: 100%;
            margin:0px auto;
        }
       
    }
    &__tags{
        position: relative;
        top:0px;
        left:0px;
        z-index: 1;
        width: 100%;
        @include createFlex(row,flex-start,center,null);
       
    }
    .swiper-slide{
        min-width: fit-content;
        max-width: fit-content;
        text-align: center;

    }
    &__tag-btn{
        position: absolute;
        top:20px;
        z-index: 10;
        min-width: fit-content;
        text-align: center;
        svg{
            fill:black;
            width: 30px;
            height:30px;
        }
        &.prev{
            left:0px;
        }
        &.next{
            right:0px;
        }
    }
    &__btn-wrapper{
        position: relative;
        top:0px;
        left:0px;
        min-width: fit-content ;

    }

    &__tag{
        cursor: pointer;
        position: relative;
        top:0px;
        left:0px;
        min-width: fit-content ;
        padding:5px 10px;
        margin:0px 5px;
        border-radius: 25px;
        background-color: $active-link;
        &.active{
            background-color: black;
            color:white;
        }
    }
    &__apps-menu{
        padding:10px 20px;
        position: absolute;
        z-index: 2;
        top:55px;
        left:0px;
        width: 200px;
        border-left:1px solid lightgray;
        border-right:1px solid lightgray;
        border-bottom:1px solid lightgray;
        background-color: white;
        svg{
            margin:0px;
            margin-right: 10px;
            fill:red;
            width: 25px;
            height:25px;
        }
        a{
            box-sizing: border-box;
            padding:15px 20px;
            display: block;
            width:calc(100% + 40px);
            position:relative;
            top:0px;
            left:50%;
            transform:translateX(-50%);
            @include createFlex(row,flex-start,center,null);
            &:hover{
                background-color: $active-link;
            }
            &:first-of-type{
               svg{
                   position: relative;
                   left:-3px;
                   top:0px; 
                    width: 30px;
                    height:30px;
                }
            }
        }
    }
    &__line{
        width: calc(100% + 35px);
        position: relative;
        top:0px;
        left:50%;
        transform: translateX(-50%);
        border-bottom:1px solid lightgray;
    }
}