.active{
    background-color: $active-link;
}
.sidebar{
    position: relative;
    top:-30px;
    left:0px;
    overflow-y: scroll;
    width:20%;
    height: 100vh;
    h3{
        padding:0px 30px;
        font-size: pxToRem(16);
        font-weight: 600;
    }
    p{
        padding:0px 30px;
    }
    a{
            box-sizing: border-box;
            display: block;
            width: 95%;
            margin:0px auto;
            padding:10px 25px;
            @include createFlex(row,flex-start,center,null);
            svg{
                width: 25px;
                height:25px;
                margin-right: 20px;
            }
        }
   
    &-expand{
        margin-left: 4px;
        p{
            word-spacing: 3px;
        }
        button{
            margin-left: 30px;
        }
        @include signIn-btn();
       
    }
    &-expand__icon-circle{
        margin-right:20px;
        width: 30px;
        height:30px;
        background-color: black;
        border-radius: 100%;
        @include createFlex(row,center,center,null);
        svg{
            margin:0px;
            margin-left:19px;
            margin-top: 1px;
            fill:white;
            min-width: 20px !important;
            min-height: 20px !important;
        }
      
    }
    &-expand__links{
        margin: 30px 0px;
        @include createFlex(row,flex-start,flex-start,wrap);
        a{
            width: fit-content;
            padding:0px;
            margin:5px 10px;
            font-size: pxToRem(14);
        }
    }
    &-thin{
        display: none;
        position: relative;
        left:10px;
        top:0px;
        a{
            @include createFlex(column,center,center,null);
            font-size:pxToRem(14);
            svg{
                width: 30px;
                height:30px;
                margin-left: 15px;
            }
        }
    }
}
