::-webkit-scrollbar {
    width: 8px;
    height: 2px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
  ::-webkit-scrollbar-thumb:active {
    background: gray;
  }
  ::-webkit-scrollbar-track {
    margin-bottom: 5px;
    margin-top: 5px;
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: white;
  }
  ::-webkit-scrollbar-track:active {
    background: white;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
a{
    text-decoration: none;
    color:black;
}
.page-wrapper{
  overflow: hidden;
  height:100vh; 
}
.container{
    @include createFlex(row,space-between,flex-start,null);
    @include breakpoint-down(medium){
      min-width: 100% !important;
    }

}
.container-inner{
    width: 82%;
    @include breakpoint-down(medium){
      width: 100% !important;
    }
}