.channel-details{
    padding:0px 10px;
    overflow-y: scroll;
    height:90vh;
    &__banner{
        height:250px;
        overflow:hidden;
        margin-bottom: 30px;
        img{
            display: block;
            width: 100%;
        }
    }
    &__tabs-main{
        margin-top: 30px;
        height:100%;
    }
    &__header{
        padding:0px 15px;
        @include createFlex(row,space-between,center,null);
    }
    &__info{
        @include createFlex(row,flex-start,center,null);
        p,h2{
            margin:5px 0px;
        }
    }
    &__img{
        margin-right: 20px;
        border-radius: 100%;
        overflow: hidden;
        height:80px;
        width:80px;
        img{
            width: 100%;
        }
    }
    &__btn-group{
        @include createFlex(row,space-between,center,null);
        button:first-of-type{
            margin-right: 10px;
            height:42px;
            @include signIn-btn();
        }
        button:last-of-type{
            @include subscribe-btn()
        }
    }
    &__tabs-wrapper{
        margin-top:20px;
        position: relative;
        top:0px;
        left:0px;
    }
    &__tabs-nav{
        padding:0px 10px;
        @include createFlex(row,flex-start, center,null);
    }
    &__tab-link{
        cursor: pointer;
        padding:10px 50px;
        font-weight: bold;
        background-color: white;
        @include createFlex(row,flex-start,center,null);
        border-bottom: 3px solid white;
        &.active{
            border-bottom: 3px solid grey;
        }
        input{
            position: relative;
            top:10px;
            left:0px;
            margin-left: 10px;
            height:30px;
            border:0px;
            outline:none;
            &:active,&:focus{
                border:0px;
                outline:none;
            }
        }
        svg{
            position: relative;
            top:10px;
            left:0px;
            min-width: 20px;
            min-height: 20px;
        }
        &:last-of-type{
            position: relative;
            top:10px;
            left:-50px;
        }
    }
    &__tab{
        display:none;
        background-color: white;
        &.active{
            display: block;
        }
    }
    &__tab-header{
        padding:0px 10px;
        @include createFlex(row,flex-start,center,null);
        svg{
            margin:0px 30px;
        }
    }
    &__sended-videos{
        @include createFlex(row,flex-start,center,null);
    }
    &__playlist-main-group{
        &>h3{
            padding:0px 10px;
        }
    }
    &__playlist-main-group-inner{
        @include createFlex(row,flex-start,center,null);
    }
    &__channel-videos-group{
        @include createFlex(row,flex-start,center,wrap);
    }
    &__playlist-group{
        @include createFlex(row,flex-start,center,wrap);
    }
}