.details{
    box-sizing: border-box;
    padding:0px 30px;
    overflow-y: scroll;
    width: 100%;
    height:85vh;
    @include createFlex(row,space-between,flex-start,null);
    @include breakpoint-down(medium-sm){
        @include createFlex(row,space-between,flex-start,wrap);
    }
    @include breakpoint-down(small){
        padding:0px 10px;
    }
    &__left-content{
        min-width: 65%;
        max-width: 65%;
        @include breakpoint-down(medium-sm){
            max-width: 100%;
        }
    }
    &__video{
        position: relative;
        top:30px;
        left:0px;
    }
    &__video-img{
        position: relative;
        top:0px;
        left:0px;
        box-shadow: 0px 0px 100px inset black;
        img{
            position: relative;
            top:0px;
            left:0px;
            z-index: -1;
            width: 100%;
        }
    }
    &__taskbar-left{
        svg:last-of-type{
            display:none;
        }
    }
    &__taskbar-right{
        @include breakpoint-down(small){
            svg{
                display: none;
            }
            svg:last-of-type{
                display: block;
            }
        }
    }
    &__taskbar-imagination{
        position:absolute;
        bottom:0px;
        left:0px;
        width: 100%;
        height:50px;
        background-color: rgba(0,0,0,0.55);
        @include createFlex(row,space-between,center,null);
        svg{
            margin:0px 10px;
            fill:white;
            width: 25px;
            height:25px;
        }
    }
    &__taskbar-chapters{
        position: relative;
        top:-7px;
        left:0px;
        color:white;
        
        svg{
            
            position: relative;
            top:8px;
            left:0px;
            @include breakpoint-down(small){
                display: none;
            }
        }

    }
    &__video-description{
        h3,h4,p{
            margin:5px 0px;
        }
        &>p{
            margin:10px 0px;
        }
    }
    &__video-info{
        margin:10px 0px 20px;
        width: 100%;
        @include createFlex(row,space-between,center,wrap);
    }
    &__description-p{
        margin:5px 0px;
        @include createFlex(row,flex-start, center,null);
        span{
            margin:0px 5px;
        }
    }
    &__video-menu{
        @include createFlex(row,flex-start,center,null);
        @include breakpoint-down(medium){
            margin:10px 0px;
        }
        @include breakpoint-down(small){
            @include createFlex(row,space-between,center,wrap);
        }
        span{
            margin:0px 10px;
            @include createFlex(row,flex-start,center,null);
            svg{
                margin-right: 5px;
                width: 30px;
                height:30px;
                @include breakpoint-down(small){
                    margin:5px 5px 5px 0px;
                    width: 20px;
                    height:20px;
                }
            }
        }
    }
    &__channel-info{
        @include createFlex(row,space-between,center,null);
    }
    &__subs-btn{
        @include subscribe-btn();
     
    }
    &__channel-info-inner{
        @include createFlex(row,flex-start,center,null);
        @include breakpoint-down(small){
            h3{
                font-size: pxToRem(16);
            }
        }
    }
    &__channel-img{
        overflow: hidden;
        margin-right: 10px;
        min-height:80px;
        min-width: 80px;
        border-radius: 100%;
        img{
            width: 100%;
        }
        @include breakpoint-down(small){
            min-height:50px;
            min-width: 50px;
        }
    }
    &__dot{
        width: 3px;
        height:3px;
        border-radius: 100%;
        background-color: black;
    }
    &__show-desc{
        cursor: pointer;
        color:$light-blue;
    }
    &__comments-header{
        position: relative;
        top:0px;
        left:0px;
        @include createFlex(row,flex-start,center,null);
        span{
            margin:0px 10px;
        }
    }
    &__sort-by{
        cursor: pointer;
        @include createFlex(row,flex-start,center,null);
        svg{
            margin-right:10px;
            width: 30px;
            height:30px;
        }
    }
    &__comments-sort-by-menu{
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top:50px;
        left:150px;
        padding:10px 0px;
        width: 130px;
        background-color: white;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
        p{
            padding:10px;
            &:hover{
                background-color:rgb(203, 210, 238);
            }
        }
    }
    &__comments-form{
        @include createFlex(row,flex-start,center,null);
        img{
            width: 5%;
        }
        input{
            font-size: pxToRem(16);
            height: 30px;
            margin-left:20px;
            width: 100%;
            border:0px;
            border-bottom: 1px solid lightgray;
        }
    }

    &__right-content{
        
        margin-top: 30px;
        min-width: 33%;
        max-width: 33%;
        @include breakpoint-down(medium-sm){
            max-width: 100%;
            margin: 50px 0px;
        }
    }
    &__suggested-video{
        cursor: pointer;
        margin-bottom:10px;
        max-height:100%;
        overflow: hidden;
        @include createFlex(row,flex-start,flex-start,null);
        &:hover{
            .details__suggested-video-overlay{
                opacity:1;
            }
        }
        &-img{
            position: relative;
            top:0px;
            left:0px;
            min-width: 180px;
            max-width: 180px;
            height:100%;
            overflow:hidden;
          
            img{
                width: 100%;
            }
        }
        &-overlay{
            position:absolute;
            top:0px;
            left:0px;
            width: 350px;
            height:100%;
            background-color: rgba(0,0,0,0.50);
            transition: all 500ms ease-in-out;
            opacity:0;
            svg{
                position: relative;
                left:25%;
                top:50%;
                transform: translate(-50%,-50%);                
                fill:white;
                width:30px;
                height:30px;
            }
        }
        &-text{
            margin-left: 10px;
            h3{
                font-size: pxToRem(16);
                @include breakpoint-down(medium){
                    font-size:pxToRem(12);
                }
            }
            h3,p{
                margin:5px 0px;
            }
            p{
                @include breakpoint-down(medium){
                    font-size:pxToRem(10);
                }
            }
        }
    }
}